.scrollBar .bar{
	width:20px;
	height:20px;
}

.scrollBar .button{
	width:20px;
	height:20px;

	outline:none;
	background-position:top center;
	background-repeat:no-repeat;
}

.scrollBar .button.topButton{
	background-image:url(../img/up.png);
}

.scrollBar .button.bottomButton{
	background-image:url(../img/down.png);
}

.scrollBar .button.leftButton{
	background-image:url(../img/left.png);
}

.scrollBar .button.rightButton{
	background-image:url(../img/right.png);
}

.scrollBar .button.active{
	background-position:bottom center ;
}

.scrollBar .knob{
	height:20px;
}

.scrollBar .knobHorizontalTip{
	width:12px;
	position:absolute;
	background-position:left center;
	background-repeat:no-repeat;
}

.scrollBar .active .knobHorizontalTip{
	background-position:right center;
}

.scrollBar .leftTip{
	left:0;
	background-image:url(../img/left.png);
}

.scrollBar .rightTip{
	right:0;
	background-image:url(../img/right.png);
}

.scrollBar  .knobHorizontalFill{

	background-position:top center;
	margin:0 12px;
}

.scrollBar .active .knobHorizontalFill{
	background-position:bottom center;
}



.scrollBar .knobVerticalFill{
	background-color:#fff;
	opacity:0.5;
	background-position:left center;
	position:absolute;
	bottom:12px;
	top:12px;
}

.scrollBar .active .knobVerticalFill{
	background-position:right center;
}

.scrollBar .knob.active{
	border:none;
}
